.abouttitle {
  margin-left: 5%;
  font-size: 35px;
}

.border-bottom {
  border-bottom: 2px solid yellow !important;
  width: 50px;
  height: 2px;
}

.aboutContentProjects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.firstContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.firstContainer div {
  margin: 2%;
}

.card {
  margin: 2%;
}

.send_Btn {
  background-color: #282c34 !important;
  border-color: black !important;
  border: 2px solid black;
}

.send_Btn:hover {
  opacity: 0.85;
  transition-duration: 0.8s;
}

@media screen and (max-width: 900px) {
  .aboutContentProjects,
  .firstContainer,
  .secondContainer {
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .card {
    margin: 2%;
    width: 96%;
  }
}

@media screen and (max-width: 650px) {
  .aboutContentProjects,
  .firstContainer,
  .secondContainer {
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
