.Intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 50rem;
}

.contactInfoHome {
  position: absolute;
  top: 50px;
  bottom: 50px;
  margin: 7% 4% 5% 4%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 2% 4% 3% 4%;
  width: 600px;
  box-shadow: 8px 8px 16px rgba(30, 30, 30, 0.3);
  height: 250px;
}

.titlu {
  margin: 0 0 3% 0;
}

.titluShow {
  margin: 0 0 3% 0;
  display: flex;
  flex-direction: column;
}

.btn-all {
  margin: -15px 0 0 0;
}

.btn-start {
  margin-right: 10px;
  padding: 10px;
  background-color: #282c34;
  border-color: black !important;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: smaller;
  border: 2px solid black;
  text-decoration: none;
}

.activeNavHomeBtn {
  color: black;
}

.btn-start:hover {
  color: white;
  text-decoration: none;
  opacity: 0.85;
  transition-duration: 0.8s;
}

.btn-resume {
  margin-right: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-color: black !important;
  border-radius: 5px;
  cursor: pointer;
  font-size: smaller;
  border: 2px solid black;
}

.btn-resume {
  text-decoration: none;
  color: #282c34;
}

.btn-resume:hover {
  background-color: #282c34;
  color: white;
  text-decoration: none;
  transition-duration: 0.8s;
}

.contactName {
  display: flex;
  flex-direction: row;
}

.contactLogo {
  width: 75px;
  height: 70px;
  border-right: 2px solid rgba(255, 255, 0, 1);
  margin-right: 10px;
  padding-right: 15px;
}

@media screen and (max-width: 1600px) {
  .Intro {
    height: 40rem;
  }
}

@media screen and (max-width: 1200px) {
  .Intro {
    height: 30rem;
  }

  .contactInfoHome {
    width: 45%;
    height: 250px;
  }
}

@media screen and (max-width: 1085px) {
  .contactInfoHome {
    width: 45%;
    height: 220px;
  }

  .contactInfoHome h1 {
    font-size: 1.75rem;
  }

  .contactInfoHome p {
    font-size: 0.8em;
  }

  .btn-all {
    margin: -10px 0 0 0;
  }
}

@media screen and (max-width: 950px) {
  .Intro {
    height: 25rem;
  }

  .contactInfoHome {
    width: 50%;
    height: 200px;
  }

  .contactInfoHome h1 {
    font-size: 1.5rem;
  }

  .contactInfoHome p {
    font-size: 0.8em;
  }

  .btn-all {
    margin: -5px 0 0 0;
    font-size: small;
  }
}

@media screen and (max-width: 650px) {
  .Intro {
    margin: 20% 0% 5% 0%;
    padding: 2% 5% 5% 5%;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 27rem;
  }

  .continutForm {
    display: flex;
    flex-direction: column;
  }

  .contactInfoHome {
    width: auto;
    margin: -9% -5.6% 5% -6%;
    position: relative;
    border-radius: 0;
  }
}
