.Intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}


.contactInfo {
  position: absolute;
  top: 50px;
  bottom: 50px;
  margin: 7% 4% 5% 4%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 2% 4% 3% 4%;
  width: 600px;
  /* background-color: rgba(217, 241, 250, 0.2); */
  box-shadow: 8px 8px 16px rgba(30, 30, 30, 0.3);
  height: 250px;
}

.titlu {
  margin: 0 0 3% 0;
}

.titluShow {
  margin: 0 0 3% 0;
  display: flex;
  flex-direction: column;
}

.btn-all {
  margin:-25px 0 0 0;
}

.btn-start {
  margin-right: 10px;
  padding: 5px;
  background-color: #282C34;
  border-color: black !important;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: smaller;
}

.btn-resume {
  margin-right: 10px;
  padding: 5px;
  background-color: #ffffff;
  border-color: black !important;
  border-radius: 5px;
  cursor: pointer;
  color: #282C34;
  font-size: smaller;
  text-decoration: none;
}

.contactName {
  display: flex;
  flex-direction: row;
}

.contactLogo {
  width: 75px;
  height: 70px;
  border-right: 2px solid rgba(255, 255, 0, 1);
  margin-right: 10px;
  padding-right: 15px;
}

@media screen and (max-width: 1200px) {

  .contactInfo {
    width: 45%;
    height: 220px;
  }
  
}

@media screen and (max-width: 1070px) {

  .contactInfo {
    width: 45%;
    height: 200px;
  }

  .contactInfo h1 {
    font-size: 1.75rem;
  }

  .contactInfo p {
    font-size: .8em;
  }
  
}

@media screen and (max-width: 950px) {

  .contactInfo {
    width: 50%;
    height: 200px;
  }

  .contactInfo h1 {
    font-size: 1.5rem;
  }

  .contactInfo p {
    font-size: .8em;
  }

}

@media screen and (max-width: 650px) {

  .Intro {
    margin: 20% 0% 5% 0%;
    padding: 2% 5% 5% 5%;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .continutForm {
    display: flex;
    flex-direction: column;
    
  }

  .contactInfo {
    width: auto;
    margin: -10% -5.5% 5% -6%;
    position: relative;
  }

}