.footer {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(40,44,52);
}

.componenteDesktop {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 5% 0;
}

.componenteDesktop li a {
  font-size: 15px;
  padding: 0 15px;
}

.componenteDesktop li a {
  text-decoration: none;
  color: floralwhite;
}

.componenteDesktop li a:hover {
  color: darkslategrey;
  transition-duration: 0.85s;
  cursor: pointer;
}

.logoLinkedin, .logoGithub, .logoFacebook {
  color: #ffffff;
}

.logoLinkedin:hover, .logoFacebook:hover, .logoGithub:hover {
  color: darkslategrey;
  transition-duration: 0.85s;
}

.logoItemsDesktop {
  margin: 0 65px 0 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 5% 0;
}

.logoItemsDesktop li {
  margin-left: 20%;
}


.componenteDesktop p{
  color: white;
}

.componentePhone, .logoItemsPhone{
  display: none;
}

@media screen and (max-width: 815px) {

  .footer{
    display: flex;
    flex-direction: column;
  }

  .componentePhone p{
    margin:5% 2.5% auto !important;
    letter-spacing: 1px;
    list-style-type: none;
    color: white !important;
    text-align: center;
  }

  .logoItemsPhone {
    margin: 2.5% 5% 5% 5%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    justify-content: space-between;
    font-size: 25px;
    list-style-type: none;
  }

  .logoItemsPhone p {
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
  }

  .logoItemsPhone a {
    color: white;
  }

  .componentePhone, .logoItemsPhone{
    display: block;
    color: white !important;
  }

  .componenteDesktop, .logoItemsDesktop{
    display: none;
  }

}

@media screen and (max-width: 550px) {

  .footer{
    display: flex;
    flex-direction: column;
  }

  .componentePhone {
    letter-spacing: 1px;
    list-style-type: none;
  }

  .logoItemsPhone {
    margin: 2.5% 5% 5% 5%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    justify-content: space-between;
    font-size: 25px;
    list-style-type: none;
  }

  .logoItemsPhone p {
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
  }

  .logoItemsPhone a {
    color: white;
  }

  .componentePhone, .logoItemsPhone{
    display: block;
  }

  .componenteDesktop, .logoItemsDesktop{
    display: none;
  }

}